body {
  background-image: url("/../Imagenes/para_usar/cielo.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  display: block !important;
}
/* #titulo_menu {
  background-color: aliceblue;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
} */
h1 {
  font-size: xx-large !important;
}
/* Img menu */
#mapa {
  text-align: center;
  width: 50%;
  float: left;
}
#mapa img {
  margin: 10px;
  width: 700px;
  border-radius: 10px;
}
#barco {
  text-align: center;
  width: 50%;
  float: right;
}
#barco img {
  width: 700px;
}
#loro {
  position: absolute;
  width: 90px;
  margin-left: 56%;
  margin-top: 410px;
  cursor: pointer;
}
#loro_text {
  display: none;
  position: absolute;
  margin-left: 47.5%;
  margin-top: 310px;
  background-color: aliceblue;
  width: 200px;
  height: 120px;
  padding: 4px;
  border-radius: 5px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
