h1 {
  font-size: xx-large !important;
}
#tabla {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  width: 1000px;
  margin: 15px;
}
#n1 {
  float: left;
}
#n2 {
  float: right;
}
.nivel {
  text-align: center;
  border-radius: 15px;
  border: 2px solid brown;
  background-color: rgb(255, 252, 249);
  width: 450px;
  margin: 10px;
  padding: 10px;
}
