@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: "Pirata One", system-ui;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("Imagenes/maderaavif.avif");
  background-color: #833e0c;
}
/* header */
header {
  background-color: #ffe48d;
}
#logo {
  width: 200px;
}
#botones_accion {
  display: flex;
  float: right;
  width: 300px;
  height: 110px;
  align-items: center;
}

.boton {
  background-color: #ffcb21;
  width: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #dbc479;
}
/* Main */
main {
  display: flex;
  justify-content: center;
}
#imagen {
  filter: blur(8px);
  margin: 10px;
}
#bienvenida {
  background-color: aliceblue;
  opacity: 0.8;
  position: absolute;
  top: 150px;
  width: 50%;
  border-radius: 5px;
}

/* Footer */
footer {
  margin-top: auto;
  background-color: #ffe48d;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
